.aboutthevillaspage {
     .aboutthevillas {
          background-repeat: no-repeat;
          background-position: 0 0;
          background-size: cover;
          padding: 40px 0;

          @media screen and (max-width: 767px) {
               padding: 30px;
          }

          .midcontainer {
               text-align: center;
               max-width: 800px;
               margin: auto;

               display: flex;
               flex-direction: column;
               justify-content: space-between;
               align-items: center;
          }


     }

     @media screen and (max-width: 767px) {
          .aboutSec {
               background-size: cover;
               margin: 0;
          }
     }

     .symbollist {
          width: 100%;

          ul {
               list-style: none;
               padding: 15px 0;
               display: flex;

               li {
                    flex-basis: 33.33%;
                    padding: 10px;
                    text-align: left;

                    img {
                         display: inline;
                         max-width: 50px;
                         margin-right: 20px;
                         align-items: center;
                    }
               }
          }
     }



     .textdetails {
          margin: 40px 0;
          color: #4E5C3D;

          h2 {
               text-align: center;
               font-size: 30px;
               font-weight: 500;
               margin-bottom: 30px;
          }

          li {
               text-align: left;
               list-style: disc;
               margin-bottom: 15px;
          }
     }

     .galleryWrp {
          background: #1F2C01;
          background-repeat: no-repeat;
          background-position: 0 60px;
          background-size: contain;
     }
}