$font-family_1: "Raleway",
sans-serif;
$color_1: #316f6f;
$titlecolor: #062929;
$color_2: #000;
$basefontD: 16px;
$basefontM: 14px;
 
@import "_global.scss";
@import "_home.scss";
@import "_location.scss";
@import "_aboutthevillas.scss";
@import "_siteplan.scss";